/**
Fisheye design

to keep the number of dom nodes at a bare minimum we use
a flexible css3 box layout
http://www.css3.info/introducing-the-flexible-box-layout-module/

This prevents that we have to use a table layout because we have to zoom subelements
without any line break

For the animation we use css transitions (the zoom property to be more precise)
*/
.fishEye {
    /*we have to set the display to enable the box orientation layout*/
    display: -webkit-box;
    display: -o-box;
    display: -ms-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: horizontal;
    -o-box-orient: horizontal;
    -ms-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;

    /*we set the alignment*/
    -webkit-box-align: end;
    -o-box-align: end;
    -ms-box-align: end;
    -moz-box-align: end;
    box-align: end;

   /*we set the alignment*/
    -webkit-box-pack: center;
    -o-box-pack: center;
    -ms-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;


}

/*
in case of a top alignment
we use the baseline
*/
.fishEye.top {
    /*we set the alignment*/
    -webkit-box-align: baseLine;
    -o-box-align: baseLine;
    -ms-box-align: baseLine;
    -moz-box-align: baseLine;
    box-align: baseLine;

}

.fishEye >* {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition:all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.fishEye >*:hover {
    /*-moz-zoom: 200%;
    -webkit-zoom: 200%;
    -o-zoom: 200%;
    -ms-zoom: 200%;
    zoom: 200%;   */
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);

}

