.popup {
    padding: 5px;
    border: 1px solid silver;
    border-radius: 5px 5px 5px 5px;

    -moz-box-shadow: 0 0 5px 3px #d5d5d5;
    -webkit-box-shadow: 0 0 5px 3px #d5d5d5;
    -o-box-shadow: 0 0 5px 3px #d5d5d5;
    -ms-box-shadow: 0 0 5px 3px #d5d5d5;

    box-shadow: 0 0 5px 3px #d5d5d5;
    display: none;
    opacity: 0;

    background: #add9e4; /* Old browsers */
    background: -moz-linear-gradient(top, #add9e4 0%, #d9edf2 60%, #f7fbfc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #add9e4), color-stop(60%, #d9edf2), color-stop(100%, #f7fbfc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #add9e4 0%, #d9edf2 60%, #f7fbfc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #add9e4 0%, #d9edf2 60%, #f7fbfc 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #add9e4 0%, #d9edf2 60%, #f7fbfc 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#add9e4', endColorstr = '#f7fbfc', GradientType = 0); /* IE6-9 */
    background: linear-gradient(top, #add9e4 0%, #d9edf2 60%, #f7fbfc 100%); /* W3C */

    margin-top: 5px;
}


.popup.fastScale {
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}