body {
    font-family: Arial, sans-serif;
    line-height: 1.4;
    font-size: 12px;
    background: #DFDFDF;
    margin: 0;
    padding: 0;
}

a {
    color: #08568F;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

#wrap {
    width: 800px;
    margin: 0 auto;
}

#header {
    height: 100px;
    background: url(images/header.jpg) no-repeat;
}

#header h1 {
    margin: 0;
    padding: 15px 0 0 30px;
    font-weight: 100;
    font-size: 25px;
    letter-spacing: -2px;
}

#header h1 a {
    text-decoration: none;
    color: #fff;
}

#header h1 a:hover {
    text-decoration: none;
    border-bottom: 1px solid #F9F7ED;
}

#header h2 {
    padding: 0 0 0 30px;
    margin: 0;
    color: #fff;
    font-weight: 100;
    font-size: 17px;
}

#menu {
    background: url(images/menu.jpg) no-repeat;
    height: 40px;
    line-height: 30px;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
}

#menu ul li {
    display: block;
    float: left;
}

#menu ul li a {
    display: block;
    padding: 0 10px 0 10px;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
}

#menu ul li a:hover {
    color: #fff;
    background: url(images/menuover.png) repeat-x;
}

#contentwrap {
    background: url(images/content.jpg) repeat-y;
    padding: 0 20px 0 30px;
}

#content {
    float: left;
    width: 520px;
}

#content h2 {
    margin: 0;
    color: #1f1f1f;
    line-height: 30px;
    font-size: 17px;
    font-weight: 100;
}

#content p {
    padding: 0 0 10px 0;
    color: #232323;
}

#content ul {
    padding: 0 20px 10px 30px;
}

#sidebar {
    float: right;
    width: 200px;
}

#sidebar h3 {
    height: 30px;
    line-height: 30px;
    font-weight: 600;
    font-size: 12px;
    margin: 0;
    padding: 0 0 0 10px;
    color: #343434;
}

#sidebar p {
    padding: 0 10px 10px 10px;
    color: #232323;
}

#sidebar ul {
    padding: 10px 0 25px 30px;
    margin: 0;
    list-style-type: circle;
}

#sidebar ul li {
    padding: 0;
    margin: 0;
}

#footer {
    text-align: center;
    color: #fff;
    font-size: 12px;
    background: url(images/footer.jpg) no-repeat;
    height: 30px;
    line-height: 30px;
}

#footer p {
    padding: 0;
    margin: 0;
}

#footer a {
    color: #fff;
}

#footer a:hover {
    text-decoration: underline;
}

/*===== application specific styles ===*/

.searchfields input {
    margin-left: 5px;
    margin-right: 5px;
}

#groupDetaDialog {
    display: none;
    opacity: 0;

    position: absolute;
    left: auto;
    right: auto;
    top: 250px;
    width: 300px;

    border: 1px solid black;

    background-color: white;

    -webkit-transition: all 0.3s ease-in;

}

#groupDetaDialog h2 {
    background: url(http://localhost:9090/resources/images/menu.jpg) no-repeat;
    background-position: -30px 0;
    height: 30px;
    line-height: 30px;

    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
}