.inlineHelp {

}

.inlineHelp .helpTrigger {
    background-image: url(/javax.faces.resource/icons/famfam/help.png.jsf?ln=images);
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: block;
}

.inlineHelp .popup {
    margin-left: 10px;
    margin-top: 10px;
}

