.splitPane {
    position: relative;
}

.splitPane .slider {
    background-color: #d0d0d0;
    padding: 0px;
    margin: 0px;
    cursor: move;
}

.splitPane .sliderPane {
    border: 1px solid silver;

}

/*splitpane test specifics*/
.splitPane {
    height: 500px;
}

.splitPane .toggle {
    background-color: #c6c4ec;
}

.splitPane .first,
.splitPane .second,
.splitPane .slider {
    margin: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    height: auto;
}

/* Specialized vertical split pane stylings */

.verticalSplitPane .slider {
    height: 7px;

}

.verticalSplitPane .first,
.verticalSplitPane .second,
.verticalSplitPane .slider {
    right: 0px;
    width: auto;
}

.verticalSplitPane .toggle {
    height: 7px;
    width: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Specialized hoizontal split pane stylings */
.horizontalSplitPane .first,
.horizontalSplitPane .second,
.horizontalSplitPane .slider {
    position: absolute;
    height: 500px;
    left: 0px;
}

.horizontalSplitPane .slider {
    width: 7px;
}

.horizontalSplitPane .toggle {
    width: 7px;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
