/* ================================================================================ 
Stylesheet: Business.css for AURA Clients 
© Credit Suisse 
Date: 08.02.2010 
Version 2.1 
created by: F322021
=================================================================================== */
/* Default page settings */
body {font-family:Arial, Helvetica, sans-serif;font-size:11px;}
input:focus,input.sffocus {background:#F4B366;}
/* ************** Widgets and panels (general use) **********************************/
/* Page header panel */
.pageheaderpanel {margin:0; width:100%;}
/* Content panel for page header */
.headercontentpanel {padding-bottom:5px;white-space:nowrap;}
/* Label in Content panel for page header */
.detailsHeader {color:#255B89;font-size:14px;font-weight:700;margin:0;padding:3px 5px 3px 12px;width:100%;}
.webimage {border:0;padding-right:3px;text-align:center;vertical-align:middle; }
a img,.webradiogroup {border:0;}
.webtextfield {background-color:#FEFEFE;border-bottom-color:#7F9DB9;border-bottom-style:solid;border-bottom-width:1px;border-left:inset #CCC 1px;border-right-color:#7F9DB9;border-right-style:solid;border-right-width:1px;border-top:inset #CCC 1px;color:#484848;font-family:"Arial", "Helvetica", serif, sans-serif;font-size:11px;padding:1px 3px 1px 1px;vertical-align:middle;}
.webtextarea {border-color:#CCC #7F9DB9 #7F9DB9 #CCC;border-style:inset solid solid inset;border-width:1px;font-family:"Arial", "Helvetica", serif, sans-serif;font-size:11px;padding:2px;text-align:left;width:100%;word-wrap:break-word;}
.weblink,.weblabel:link,.weblabel:visited,.weblabel:active,.weblabel:hover {color:#484848;font-family:"Arial", "Helvetica", serif, sans-serif;font-size:11px;padding-left:5px;}
.webpasswordfield,.weblistbox {border:1px solid #dedce0;}
.disabled { background-color: #dcdcdc; border: #ccc 1px solid; color: #000000; cursor: default; } 
.repeatingPanelLabel {color:#484848;font-family:"Arial", "Helvetica", serif, sans-serif;font-size:11px;padding:3px 5px 2px 4px;}
/************* Icons *************************************/
.icon-select {background-image:url(../images/icons/select.gif);background-repeat:no-repeat;border:0;cursor:pointer;vertical-align:middle; height:16px; width:16px;}
.icon-edit {background-image:url(../images/icons/ico_edit.gif);background-repeat:no-repeat;border:0;cursor:pointer;vertical-align:middle; height:16px; width:16px;}
.icon-delete {background-image:url(../images/icons/trash_16.gif);background-repeat:no-repeat;border:0;cursor:pointer;vertical-align:middle; height:16px; width:16px;}
.addRightOneEmp_icon {background-image:url(../images/icons/addRightOneEmp.gif);background-repeat:no-repeat;border:0;font-size:11px;height:16px;padding-left:22px;vertical-align:middle;width:16px;}
.addRightManyEmp_icon {background-image:url(../images/icons/addRightManyEmp.gif);background-repeat:no-repeat;border:0;font-size:11px;height:16px;padding-left:22px;vertical-align:middle;width:16px;}
.editScope_icon {background-image:url(../images/icons/editScopes.gif);background-repeat:no-repeat;border:0;font-size:11px;height:16px;padding-left:22px;vertical-align:middle;width:16px;}
.deleteRightOneEmp_icon {background-image:url(../images/icons/deleteRightOneEmp.gif);background-repeat:no-repeat;border:0;font-size:11px;height:16px;padding-left:22px;vertical-align:middle;width:16px;}
.deleteRightManyEmp_icon {background-image:url(../images/icons/deleteRightManyEmp.gif);background-repeat:no-repeat;border:0;font-size:11px;height:16px;padding-left:22px;vertical-align:middle;width:16px;}
.webdropdownlist {border:1px solid #7F9DB9;color:#484848;font-family:"Arial", "Helvetica", serif, sans-serif;font-size:11px;padding-left:5px;z-index:-1;}
.webcheckbox {margin-left:3px;padding-left:2px;vertical-align:middle;}
.weblabel {color:#484848;font-family:"Arial", "Helvetica", serif, sans-serif;font-size:11px;padding-left:3px;}
.commalabel {color:#484848;font-family:"Arial", "Helvetica", serif, sans-serif;font-size:11px;margin:0;padding:0;}
.csLabel {color:#2E2E2E;font-family:"Arial", "Helvetica", serif, sans-serif;font-size:12px;}
.csLabelBlue {background-image:url(../images/bgs/bg_label.gif);background-repeat:repeat-x;color:#2E2E2E;font-size:11px;font-weight:600;height:33px;margin-right:5px;padding:9px 5px 2px;vertical-align:middle;white-space:nowrap;width:100%;}
.csLabelBlue_2rows {background-image:url(../images/bgs/bg_label.gif);background-repeat:repeat-x;color:#2E2E2E;font-size:11px;font-weight:600;height:100%;padding:9px 5px 2px;vertical-align:middle;width:100%;word-wrap:break-word;}
.csLabelBlue_noLineHigh {background-image:url(../images/bgs/bg_label.gif);background-repeat:repeat-x;color:#2E2E2E;font-size:11px;font-weight:600;height:100%;padding:9px 5px 2px;vertical-align:middle;white-space:nowrap;width:100%;}
.csLabelBlue_noLineHighWrap {background-image:url(../images/bgs/bg_label.gif);background-repeat:repeat-x;color:#2E2E2E;font-size:11px;font-weight:600;height:100%;padding:9px 5px 2px;vertical-align:middle;width:100%;}
.csLabelBlue_High {background-image:url(../images/bgs/bg_label_150.gif);background-repeat:repeat-x;color:#2E2E2E;font-size:11px;font-weight:600;height:100%;padding:9px 5px 2px;vertical-align:middle;white-space:nowrap;width:100%;}
.csLabelBlue_High180 {background-image:url(../images/bgs/bg_label_180.gif);background-repeat:repeat-x;color:#2E2E2E;font-size:11px;font-weight:600;height:100%;padding:9px 5px 2px;vertical-align:middle;white-space:nowrap;width:100%;}
.csLabelBlue_High600 {background-image:url(../images/bgs/bg_label_600.gif);background-repeat:repeat-x;color:#2E2E2E; font-size:11px;font-weight:600;min-height:33px; height:100%;padding:9px 5px 2px;vertical-align:middle;white-space:nowrap;width:100%;}
.csLabelBlue_long {background-image:url(../images/bgs/bg_label.gif);background-repeat:repeat-x;color:#2E2E2E;font-size:11px;font-weight:600;height:33px;padding:9px 5px;vertical-align:middle;white-space:pre;width:100%;}
.csLabelBlue_noLine,.csLabelBlue_WizardLeft {background-image:url(../images/bgs/bg_label.gif);background-repeat:repeat-x;color:#2E2E2E;font-size:11px;font-weight:600;height:33px;padding:9px 5px 2px;vertical-align:middle;white-space:nowrap;width:100%;}
.csLabelBlueShort {background-image:url(../images/bgs/bg_label.gif);background-repeat:repeat-x;color:#2E2E2E;font-size:11px;font-weight:600;height:20px;padding:9px 5px 2px;vertical-align:middle;white-space:nowrap;width:100%;}
.csLabelBlueRightsData {background-image:url(../images/bgs/bg_label.gif);background-repeat:repeat-x;color:#2E2E2E;font-size:11px;font-weight:600;height:26px;padding:9px 5px 2px;vertical-align:middle;white-space:nowrap;width:100%;}
.tableBorderGray {border-top:solid #CCC 1px;text-align:left;}
.csLabelGray_nested {color:#2E2E2E;font-size:11px;padding:9px 5px 2px;}
/* Action Link */
.actionLink {width:80px; text-align:center;}
.actionLinkDetails {width:40px; text-align:center;}
/*********************************** Description label for long descriptions with word break ****************************/
.descLabel {color:#484848;font-family:"Arial", "Helvetica", serif, sans-serif;font-size:11px;padding:3px 5px 2px 4px;width:100%;word-wrap:break-word;}
.descBackground { background-color: transparent\9; /* Hide solid background for IE8 */  background-color: rgb(255,255,255,0.0);	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr=#0CFFFFFF,endColorstr=#0CFFFFFF); /* IEs */zoom:1;}
.wbr:after { content: "\00200B"; }
.descriptionLabel50 {color:#484848;font-family:"Arial", "Helvetica", serif, sans-serif;font-size:11px;padding:9px 5px 9px 4px;overflow-y:auto;height:50px;width:100%;word-wrap:break-word;}
/* Wrap the line after 600px in the table column if too long */
.columnWordWrap {width:600px;}
.detailsLabel {color:#484848;font-size:12px;font-weight:700;margin:0;padding:3px 5px 0 7px;}
.detailsTable {border:#CCC solid 1px;margin:0;}
/* Main panel */
.mainpanel {height:100%;width:100%;vertical-align:top;}
/* Text area outer panel */
.webtextareaOuter {vertical-align:top;width:100%;padding:5px;}
/* Standard panel */
.webpanel {vertical-align:top;width:100%;}
/* Space panel */
.spacepanel {height:3px;vertical-align:top;width:100%;}
/* Main outer panel for tabs - height 550px */
.tabmainpanel {height:550px;width:100%;}
/* Main outer panel for tabs - height 400px */
.tabshortpanel {height:400px;width:100%;}
/* Main outer panel for tabs - height 500px */
.tab500panel {height:500px;width:100%;}
/* Main outer panel for tabs - height 180px */
.tabminipanel {height:180px;padding:3px;width:100%;}
/* Main outer panel for tabs - height 100px */
.tabmicropanel {height:100px;padding:3px;width:100%;}
/* Main outer panel for tabs - height 250px */
.tabmidipanel {height:250px;padding:3px;width:100%;}
.tab230panel {height:230px;padding:3px;width:100%;}
/* Main outer panel for tabs - height 200px */
.tab200panel {height:200px;padding:3px;width:100%;}
/* Main outer panel for tabs - height 300px */
.tab300panel {height:300px;padding:3px;width:100%;}
.webuploadfield {border-color:#CCC #7F9DB9 #7F9DB9 #CCC;border-style:inset solid solid inset;border-width:1px;font-family:"Arial", "Helvetica", serif, sans-serif;font-size:11px;text-align:left;}
/* Header Logo wings CS */
.horizontalLine {background-image:url(../images/blueLineRightSpacer.gif);background-position:bottom;background-repeat:repeat-x;margin:0 0 2px;padding:0 0 2px;}
.csLogo_fluegel {height:11px;margin-left:0;padding:0 0 1px;vertical-align:bottom;width:14px;}
/* **********************************Error Panel **********************************/
.weberrorpanel {border-left:solid #567598 5px;border-right:solid #567598 1px;border-top:solid 1px #567598;border-bottom:solid #567598 1px;color:#484848;font-size:11px;margin:2px 0;padding:2px;width:100%;}
.weberrorlabel {color:#484848;}
/* ********************************** Headerpanel (used in defaultTemplate) **********************************/
.webheadermenu {background-color:#255b89;border-bottom-color:#B2C2D1;border-bottom-style:solid;border-bottom-width:4px;border-top-color:#B2C2D1;border-top-style:solid;border-top-width:1px;padding:3px 5px;}
.webheaderpanel {background-color:#FFF;border-bottom-color:#FFF;border-bottom-style:solid;border-bottom-width:1px;border-top-color:#FFF;border-top-style:solid;border-top-width:1px;}
.webheaderimglabel {background-image:url(../images/credit-suisse.gif);background-repeat:no-repeat;display:block;}
.webheaderlabel {color:#AAA19A;font-family:"Arial", "Helvetica", serif, sans-serif;font-size:20px;padding-bottom:15px;}
/********************************** Repeating Panel **********************************/
.repeatingpanel {background-color:#E6E6E6;border-bottom:1px solid #fff;border-collapse:collapse;border-left:1px solid #fff;border-right:1px solid #fff;width:100%;}
.repeatingpanellevel2 {background-color:#fff;border:1px solid #ddd;width:100%;}
.repeatingpanellevel3 {background-color:#E2F0FC;border:1px solid #ddd;width:100%;}
.repeatingpanel4 {background-color:#fff;border-bottom:2px solid #9C9C9C;border-collapse:collapse;border-left:1px solid #fff;border-right:1px solid #fff;width:100%;}
.repeatingpanelOuter {vertical-align:top;width:100%;padding:0px 2px 2px 5px;}
.repeatingpanelOuterPad9 {vertical-align:top;width:100%;padding:9px 2px 2px 9px;}
.repeatingpanelOuterPad7 {vertical-align:top;width:100%;padding:1px 2px 2px 7px;}
.repeatingpanelOuterPad2 {vertical-align:top;width:100%;padding:2px;}
repeatingpanelOuter1 {vertical-align:top;width:100%;padding:1px;}

/*********************************** Infopanel ***********************************/
.infopanel {color:#484848;font-size:11px;margin-bottom:5px;padding:5px;width:100%; height:30px;}
.infolabel {color:#484848;padding-left:5px;padding-bottom:0px;}


/* ********************************** Messagepanel *********************************/
.messagepanel {padding:15px 0;width:100%;}
.messagepanelFortext {padding:3px;width:100%; border: inset thin;overflow:auto;background-color:#FFEFDF; height:35px;}
.messagelabel {font-size:11px;font-weight:normal; padding-left:5px;float:left; vertical-align:middle;}
/*********************************** Scrolling Div area for repeating panel ****************/
.scroll {height:250px;overflow:auto;width:100%;}
.scroll_270 {height:270px;overflow:auto;width:100%;}
.scroll_300 {height:300px;overflow:auto;width:100%;}
.scroll_midi {height:200px;overflow:auto;width:100%;}
.scroll_150 {height:150px;overflow:auto;width:100%;}
.scroll_sm {height:100px;overflow:auto;width:100%;}
/* Gridpanel - Header panel in Tables */
.webgridheaderpanel {background-color:#CCC;border-top:2px solid #999;color:#003868;height:20px;}
.webgridheaderpanelHigh {background-color:#CCC;border-top:2px solid #999;color:#003868;height:30px;}
/* Gridpanel - Label in Table Header */
.webgridheaderlabel {color:#0086A4;font-size:11px;font-weight:700;padding-left:4px;vertical-align:middle;white-space:nowrap;}
.webgridheaderlabelHigh {color:#0086A4;font-size:11px;font-weight:700;padding-left:4px;vertical-align:middle; word-wrap:break-word; white-space: normal; width:50px; }
.webgridheaderlabel2Rows{color:#0086A4;font-size:11px;font-weight:700;padding-left:4px;vertical-align:middle; float:left; word-wrap:normal; white-space: pre; }
.webgridrowlabel {color:#695D54;font-size:10px;font-weight:700;padding:3px 3px 5px 1px;}
.webgridInnerTableLabel {background-color:#CCC;border-bottom:solid 2px #FFF;color:#0086A4;font-size:11px;font-weight:700;height:25px;padding:3px 2px 2px 3px;vertical-align:middle;white-space:nowrap;}
/* ********************************** Grid rows (general use) ***********************************/
.row-selected {background-color:#EDA443;font-weight:700;height:20px;}
.row-empty {color:#484848;font-family:"Arial", "Helvetica", serif, sans-serif;font-size:11px;height:20px;padding-left:5px;}
.column-selected {background-color:#96BECB;}
.highlightRow {font-family:arial, sans-serif;font-size:11px;vertical-align:middle;width:100%;}
.highlightRow td {font-size:11px;padding-left:0;vertical-align:middle;white-space:nowrap;}
.highlightRow .on {background-color:#ddd;height:20px;vertical-align:middle;}
.highlightRow .off {background-color:#fff;height:20px;vertical-align:middle;}
.highlightRow .hover {background-color:#F4B366;cursor:pointer;height:20px;vertical-align:middle;}
.highlightRow .click {background-color:#DF9430;cursor:pointer;font-weight:700;height:20px;vertical-align:middle;}
/***********************************Table styles (general use) ***********************************/
#grid-table {background:inherit;border-bottom:2px solid #FFF;border-collapse:collapse;border-left:1px solid #FFF;border-right:2px solid #FFF;cursor:default;}
#grid-table thead th {border-bottom:1px solid #FFF;border-left:1px solid #FFF;border-top:1px solid #FFF;cursor:pointer;padding-left:5px;padding-right:5px;}
#grid-table tfoot td {border-left:2px solid #999;cursor:pointer;padding-left:5px;padding-right:5px;}
#grid-table tfoot tr {background-color:#84a8cc;}
#grid-table td {padding-left:2px;padding-right:5px;white-space:nowrap;}
.webgridpanel {margin:0;padding:0;}
/* Text Style in Tables Grid column */
.gc_name {text-align:left;width:100px;}
.gc_description {text-align:left;width:150px;}
.gc_status {text-align:center;vertical-align:middle;width:80px;}
.gc_help {padding-left:5px;}
.gc_link{text-align:center; width:80px;}
.gc_icon {vertical-align:middle;text-align:center;width:20px;}
td.clear-tab {border-bottom:1px solid #B36600;}
table.content-tab {background-color:#FFF;border-bottom:1px solid #B36600;border-left:1px solid #B36600;border-right:1px solid #B36600;border-top:none;vertical-align:top;}
table.content-tab td {padding-left:3px;padding-right:3px;}
table.tab,table.tab-main {vertical-align:top;}
td.inactive-tab span#outer {background:url(../images/tab/tableft3.gif) no-repeat left top;border-bottom:1px solid #B36600;display:block;float:none;margin:0;padding:0 0 0 4px;text-decoration:none;}
td.active-tab span#outer {background-position:0 -42px;background:url(../images/tab/tableft3.gif) no-repeat left -42px;;border-bottom:none;display:block;float:none;margin:0;padding:0 0 0 4px;text-decoration:none;}
td.inactive-tab span#inner {background:url(../images/tab/tabright3.gif) no-repeat right top;color:#2E2E2E;cursor:default;display:block;float:none;font-size:11px;padding:5px 10px 7px 6px;white-space:nowrap;}
td.active-tab span#inner {background-position:right -42px;background:url(../images/tab/tabright3.gif) no-repeat right -42px;color:#2E2E2E;cursor:default;display:block;float:none;font-size:11px;font-weight:700;padding:5px 10px 7px 6px;white-space:nowrap;}
td.inactive-tab a:hover span#inner {background-position:right -42px;color:#666;cursor:pointer;}
td.inactive-tab a:hover span#outer {background-position:left -42px; cursor:pointer;}
td.inactive-tab a span {float:none;}
.tableBorderOutline {border-bottom:solid #567598 1px;border-left:solid #567598 1px;border-right:solid #567598 1px;border-top:solid #567598 1px;width:100%;}
/*********************************** Sortable Tables ***********************************/
.table.sortable {width:100%;}
.table.sortable a.sortheader {color:#0086A4;display:block;font-size:11px;font-weight:700;padding-left:2px;text-decoration:none;}
.table.sortable tbody tr {border-bottom:1px solid #fff;}
.table.sortable tbody tr.over {background:#E8DD9F;cursor:pointer;}
.table.sortable tbody tr.click {background:#A8C0C6;}
.tableBorder {background-image:url(../images/tab/tabContentBg.gif);background-position:top;background-repeat:repeat-x;border-bottom:solid #567598 1px;border-left:solid #567598 1px;border-right:solid #567598 1px;width:100%;}
.rightData {background-image:url(../images/tab/tabContentBg.gif);background-position:top;background-repeat:repeat-x;border-left:solid #567598 1px;border-right:solid #567598 1px;width:100%;}
.tableHeader {background-image:url(../images/header/h3_dkblau_left.png);background-repeat:no-repeat;border-bottom:solid #567598 1px;border-collapse:collapse;height:27px;padding-top:5px;}
.tableHeaderRight {background-image:url(../images/header/h3_dkblau_right.png);background-position:right;background-repeat:no-repeat;border-bottom:solid #567598 1px;border-collapse:collapse;height:27px;text-align:right;}
.tableHeaderBackground {background-image:url(../images/header/h3_dkblau_center.png);background-repeat:repeat-x;border-bottom:solid #567598 1px;border-collapse:collapse;height:27px;width:100%;}
/*********************************** table classes out-of-the-box - so we don't have to rename **************************/
/* webmainheaderpanel - same as tableHeaderBackground */
.webmainheaderpanel {background-image:url(../images/header/h3_dkblau_center.png);background-repeat:repeat-x;border-bottom:solid #567598 1px;border-collapse:collapse;height:27px;}
/*********************************** Paging in Main Tables **********************************/
.pg-normal {color:#fff;cursor:pointer;font-size:11px;font-weight:400;padding-right:2px;text-decoration:none;vertical-align:middle;}
.pg-selected {color:#fff;cursor:pointer;font-size:11px;font-weight:700;padding-right:2px;text-decoration:underline;vertical-align:middle;}
.pagingFooter {background-color:#0A4668;border:1px solid #0A4668;height:14px;padding:2px 3px 0 7px;text-align:left;vertical-align:middle;width:100%;}
/*********************************** Server Paging in Main Tables  ***********************************/
.serverPagingFooter {background-color:#0A4668;border:1px solid #0A4668;height:20px;padding:2px 3px 0 7px;text-align:left;vertical-align:middle;width:100%;}
.serverPagingIcon {margin:0 5px;padding:0 5px;vertical-align:middle;cursor:pointer;}
.serverPagingLabel {color:#fff;font-family:"Arial", "Helvetica", serif, sans-serif;font-size:11px;padding-left:3px;vertical-align:middle;}
/*********************************** Light Blue Header in Inner Tables ***********************************/
.tableHeader_recordset {border-left:solid #446E86 1px;}
.tableHeaderRight_recordset {border-right:solid #446E86 1px;text-align:right;}
.tableHeaderBackground_recordset {background-image:url(../images/bgs/bg_label.gif);background-repeat:repeat-x;border-collapse:collapse;border-left:solid #ccc 1px;border-right:solid #ccc 1px;border-top:solid #ccc 1px;height:27px;width:100%;}
.tableBorder_recordset {background-image:url(../images/tab/tabContentBg.gif);background-position:top;background-repeat:repeat-x;border-bottom:solid #ccc 1px;border-left:solid #ccc 1px;border-right:solid #ccc 1px;border-top:solid #ccc 1px;width:100%;}
.tableHeaderLabel_recordset {color:#2E2E2E;font-size:11px;font-weight:700;margin-top:2px;padding-bottom:0;padding-left:5px;padding-top:2px;vertical-align:middle;white-space:nowrap;}
/*********************************** Paging in Inner Tables ***********************************/
.pg-normalGray {color:#2E2E2E;cursor:pointer;font-size:11px;font-weight:400;padding-right:2px;text-decoration:none;vertical-align:middle;}
.pg-selectedGray {color:#2E2E2E;cursor:pointer;font-size:11px;font-weight:700;padding-right:2px;text-decoration:underline;vertical-align:middle;}
.pagingFooter_recordset {background-color:#C1D2DE;border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;height:14px;padding:2px 3px 0 7px;vertical-align:middle;width:100%;}
.webcalendarcontainer {display:none;position:absolute;z-index:1;}
.infoButton {padding-right:5px;text-align:right;width:25px;}
/*********************************** Tooltips ***********************************/
.thdrcell {background:#F3F0E7;border-bottom:1px solid #C8BA92;font-family:arial;font-size:12px;font-weight:700;padding:5px;}
.tdatacell {background:#FFF;font-family:arial;font-size:12px;padding:5px;text-align:left;}
.dvhdr1 {background:#F3F0E7;border:1px solid #C8BA92;font-family:arial;font-size:12px;font-weight:700;padding:5px;width:200px;}
.dvbdy1 {background:#FFF;border-bottom:1px solid #C8BA92;border-left:1px solid #C8BA92;border-right:1px solid #C8BA92;font-family:arial;font-size:12px;padding:5px;text-align:left;width:200px;}
.pgdiv {background:#E1BC80;border:1px solid #C4D5E3;font-family:arial;font-size:12px;height:250px;margin-bottom:20px;padding:10px;width:320px;}
/*********************************** Filter **********************************/
.filterBox {padding-right:3px;width:100%;}
/*********************************** table modification ***********************************/
.addElement {background-color:#AECC7B;color:#484848;font-size:10px;font-weight:700;padding:3px 3px 5px 1px;text-align:center;width:100%;}
.deleteElement {background-color:#D7523A;color:#fff;font-size:10px;font-weight:700;padding:3px 3px 5px 1px;text-align:center;width:100%;}
.changeElement {background-color:#EBE06C;color:#484848;font-size:10px;font-weight:700;padding:3px 3px 5px 1px;text-align:center;width:100%;}
.unchangedElement {color:#484848;font-size:10px;font-weight:700;padding:3px 3px 5px 1px;text-align:center;width:100%;}
.row-odd {width:100%;}
/*********************************** Scope: Change Request Panel  ***********************************/
.scopeChangesMasterPanel {height:100%;padding:5px 5px 0px 5px;vertical-align:top; width:100%;}
.csLabelGray,.csLabelGray_noLine {color:#2E2E2E;font-size:11px;padding:9px 5px 2px;width:100%;}
.csLabelTableDesc,.csLabelTableDesc:link,.csLabelTableDesc:visited,.csLabelTableDesc:active,.csLabelTableDesc:hover {color:#484848;font-family:"Arial", "Helvetica", serif, sans-serif;font-size:11px;padding-left:5px;text-align:left;width:100%;word-wrap:break-word;}
.webreferencepanel,.webmainpanel {background-color:#edf2f8;}
.webfillerpanel,.row-even {background-color:#FFF;border:1px solid #ddd;width:100%;}
.header-dragover,.header-drag {background-color:#9BBACB;}
.highlightRow th,.highlightRow th a:link,.highlightRow th a:hover,.highlightRow th a:visited,.highlightRow th a:active {color:#0086A4;font-size:11px;font-weight:700;padding-left:2px;vertical-align:middle;white-space:nowrap;}
.webgridcolumn,.p_applicationContent {border-bottom:solid #CCC 1px;}
.webgridcolumnPadLeft {border-bottom:solid #CCC 1px; padding-left:5px;}
.gc_info,.gc_selection,.gc_button {text-align:center;width:30px;}
.gc_nar {text-align:center;width:25px;}
.gc_hide {width:40px;}
.webtabbedpanel,td.active-tab,td.inactive-tab {padding:0;vertical-align:top;}
td.inactive-tab a,td.active-tab a {text-decoration:none;}
.tableHeaderLabel,.webmainheaderlabel {color:#fff;font-size:11px;font-weight:700;margin-top:2px;padding-bottom:0;padding-left:5px;padding-top:2px;vertical-align:middle;white-space:nowrap;}
.row-odd2 {background-color:#E8E7E7;width:100%;padding:0; margin:0;}
.row-even2 {background-color:#FFF;width:100%;padding:0; margin:0;}
.row-odd3 {background-color:#FFF;width:100%;padding:0; margin:0;}
.row-even3 {background-color:#E8E7E7;width:100%;padding:0; margin:0;}
/*
 * IE 6 problem with z-index for SELECT elements - see
 * http://stackoverflow.com/questions/224471/iframe-shimming-or-ie6-and-below-select-z-index-bug
 */
* html .hideSelects select {
	visibility: hidden;
}  