/* ================================================================================ 
Stylesheet: status.css for AURA Clients 
© Credit Suisse 
Date: 08.02.2010
Version 0.1 
created by: F322021
=================================================================================== */

/*********************************** Status in Migration Client *********************/
/********************************** Status common ***********************************/
.statusText {font-family:Arial, Helvetica, sans-serif;font-size:11px;font-weight:700;padding-left:5px;padding-top:7px;text-align:center;vertical-align:top;white-space:nowrap;}
.statusTextBig {font-family:Arial, Helvetica, sans-serif;font-size:11px;font-weight:700;padding-left:5px;vertical-align:top;}
.statusHeader {font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:700;}
.statusContainer {background-color:#FFF;border-bottom:solid #567598 1px;border-left:solid #567598 1px;border-right:solid #567598 1px;width:100%;}
/*********************************** Status Component **********************************
Main Div */
#compStatusMain {height:150px;overflow-x:scroll;overflow-y:hidden;padding:0;position:relative;width:775px;z-index:1;}
/* Komponente bereit*/
#comp_ball_big {height:115px;left:23px;position:absolute;top:8px;width:111px;z-index:1;}
#compReady {height:34px;left:34px;position:absolute;top:44px;width:87px;z-index:2;}
#ic_finished_comp {height:32px;left:87px;position:absolute;top:89px;width:49px;z-index:3;}
#arrow1 {height:40px;left:135px;position:absolute;top:34px;width:26px;z-index:4;}
/* Round 3*/
#bg_comp_questionPeriod {height:115px;left:159px;position:absolute;top:9px;width:359px;z-index:5;}
#rd3 {height:21px;left:199px;position:absolute;top:53px;width:51px;z-index:6;}
#ic_finished_rd3 {height:29px;left:224px;position:absolute;top:89px;width:33px;z-index:7;}
/* Round 4*/
#rd4 {height:21px;left:280px;position:absolute;top:53px;width:51px;z-index:8;}
#ic_finished_rd4 {height:29px;left:304px;position:absolute;top:89px;width:33px;z-index:9;}
/* Round 5*/
#rd5 {height:21px;left:363px;position:absolute;top:53px;width:51px;z-index:10;}
#ic_finished_rd5 {height:29px;left:382px;position:absolute;top:89px;width:33px;z-index:11;}
/* Round 6*/
#rd6 {height:21px;left:443px;position:absolute;top:53px;width:51px;z-index:12;}
#ic_finished_rd6 {height:29px;left:464px;position:absolute;top:89px;width:33px;z-index:13;}
/* ARQ created*/
#arrow2 {height:40px;left:519px;position:absolute;top:34px;width:26px;z-index:14;}
#arq_ball_big_comp {height:115px;left:541px;position:absolute;top:8px;width:111px;z-index:15;}
#arq {height:21px;left:569px;position:absolute;top:44px;width:51px;z-index:16;}
#ic_finished_arq_comp {height:32px;left:597px;position:absolute;top:89px;width:49px;z-index:17;}
/* Test IT */
#bg_comp_test {height:115px;left:676px;position:absolute;top:9px;width:359px;z-index:18;}
#arrow3 {height:40px;left:653px;position:absolute;top:34px;width:26px;z-index:19;}
#testIt {height:21px;left:712px;position:absolute;top:53px;width:51px;z-index:20;}
#ic_finished_testIt {height:29px;left:734px;position:absolute;top:89px;width:33px;z-index:21;}
/* PTA ready */
#ptaReady {height:21px;left:793px;position:absolute;top:46px;width:51px;z-index:22;}
#ic_finished_pta {height:29px;left:814px;position:absolute;top:89px;width:33px;z-index:23;}
/* Test PTA */
#testPta {height:21px;left:878px;position:absolute;top:53px;width:51px;z-index:24;}
#ic_finished_testPta {height:29px;left:896px;position:absolute;top:89px;width:33px;z-index:25;}
/* PROD ready */
#prodReady {height:21px;left:958px;position:absolute;top:46px;width:51px;z-index:26;}
#ic_finished_prod {height:29px;left:977px;position:absolute;top:89px;width:33px;z-index:27;}
/* Confirm production */
#deployProd_ball_big {height:115px;left:1060px;position:absolute;top:12px;width:111px;z-index:28;}
#deployProd_text {height:42px;left:1066px;position:absolute;top:44px;width:93px;z-index:29;}
#arrow5 {height:40px;left:1177px;position:absolute;top:34px;width:26px;z-index:30;}
#ic_finished_confirmProd {height:32px;left:1115px;position:absolute;top:89px;width:49px;z-index:31;}
/* Rights described */
#arrow4 {height:40px;left:1037px;position:absolute;top:34px;width:26px;z-index:32;}
#rights_ball_big {height:115px;left:1203px;position:absolute;top:8px;width:111px;z-index:33;}
#rightsSpecified {height:21px;left:1225px;position:absolute;top:44px;width:51px;z-index:34;}
#ic_finished_rights {height:32px;left:1263px;position:absolute;top:89px;width:49px;z-index:35;}
/* Completed */
#arrow6 {height:40px;left:1318px;position:absolute;top:34px;width:26px;z-index:36;}
#completed_ball_big {height:115px;left:1342px;position:absolute;top:8px;width:111px;z-index:37;}
#finished {height:21px;left:1353px;position:absolute;top:51px;width:51px;z-index:38;}
#ic_finished_completed {height:32px;left:1406px;position:absolute;top:89px;width:49px;z-index:39;}
/* Header Question rounds */
#header_qp {height:26px;left:309px;position:absolute;top:16px;width:98px;z-index:40;}
/* Header Test */
#header_test {height:26px;left:848px;position:absolute;top:16px;width:98px;z-index:39;}
/*********************************** Status Application in Migration Client ***********************************/
#appStatusMain {height:160px;overflow-x:hidden;overflow-y:hidden;padding:0;position:relative;width:661px;z-index:1;}
#app_ball_ready {height:115px;left:23px;position:absolute;top:18px;width:111px;z-index:1;}
#appReady {height:34px;left:30px;position:absolute;top:54px;width:87px;z-index:2;}
#ic_finished_app {height:32px;left:87px;position:absolute;top:99px;width:49px;z-index:3;}
#arrow1_app {height:40px;left:136px;position:absolute;top:44px;width:26px;z-index:4;}
/* Round 1*/
#bg_app_questionPeriod {height:115px;left:159px;position:absolute;top:19px;width:205px;z-index:5;}
#rd1_app {height:21px;left:192px;position:absolute;top:63px;width:51px;z-index:6;}
#ic_finished_rd1_app {height:29px;left:224px;position:absolute;top:99px;width:33px;z-index:7;}
/* Round 2*/
#rd2_app {height:21px;left:276px;position:absolute;top:63px;width:51px;z-index:8;}
#ic_finished_rd2_app {height:29px;left:304px;position:absolute;top:99px;width:33px;z-index:9;}
/* Edit components */
#arrow2_app {height:40px;left:363px;position:absolute;top:44px;width:26px;z-index:14;}
#appEditComp_ball {height:34px;left:384px;position:absolute;top:18px;width:87px;z-index:1;}
#app_editComponents {height:52px;left:395px;position:absolute;top:43px;width:85px;z-index:16;}
#ic_finished_app_editComp {height:32px;left:441px;position:absolute;top:99px;width:49px;z-index:17;}
#arrow3_app {height:40px;left:497px;position:absolute;top:44px;width:26px;z-index:19;}
/* Completed */
#completed_ball_big_app {height:115px;left:519px;position:absolute;top:18px;width:111px;z-index:33;}
#finished_app {height:21px;left:530px;position:absolute;top:61px;width:51px;z-index:34;}
#ic_finished_completed_app {height:32px;left:583px;position:absolute;top:99px;width:49px;z-index:35;}
/* Header question rounds */
#header_qp_app {height:26px;left:216px;position:absolute;top:25px;width:98px;z-index:36;}
/*********************************** Status ARQ **********************************
 Main Div */
#arqStatusMain {border:1px solid #000;height:230px;overflow-x:scroll;overflow-y:hidden;padding:0;position:absolute;width:700px;}
/* Arq ready */
#arq_ball_big {height:115px;left:23px;position:absolute;top:58px;width:111px;z-index:1;}
#arqReady {height:34px;left:34px;position:absolute;top:94px;width:87px;z-index:2;}
#ic_finished_arq {height:32px;left:87px;position:absolute;top:139px;width:49px;z-index:3;}
#arrow1_arq {height:40px;left:137px;position:absolute;top:84px;width:26px;z-index:4;}
/* Test IT */
#bg_arq_test {height:115px;left:159px;position:absolute;top:59px;width:359px;z-index:5;}
#arrow2_arq {height:40px;left:521px;position:absolute;top:84px;width:26px;z-index:14;}
#testIt_arq {height:21px;left:199px;position:absolute;top:103px;width:51px;z-index:6;}
#ic_finished_testIt_arq {height:29px;left:224px;position:absolute;top:139px;width:33px;z-index:7;}
/* PTA ready */
#ptaFinished_arq {height:21px;left:274px;position:absolute;top:97px;width:51px;z-index:8;}
#ic_finished_pta_arq {height:29px;left:304px;position:absolute;top:139px;width:33px;z-index:9;}
/* Test PTA */
#testPta_arq {height:21px;left:359px;position:absolute;top:103px;width:51px;z-index:10;}
#ic_finished_testPta_arq {height:29px;left:382px;position:absolute;top:139px;width:33px;z-index:11;}
/* Prod ready */
#prodFinished_arq {height:21px;left:443px;position:absolute;top:99px;width:51px;z-index:12;}
#ic_finished_prodFinished_arq {height:29px;left:464px;position:absolute;top:139px;width:33px;z-index:13;}
/* Round 7 */
#bg_arq_qp {height:115px;left:546px;position:absolute;top:59px;width:127px;z-index:18;}
#rd7_arq {height:21px;left:582px;position:absolute;top:103px;width:51px;z-index:20;}
#ic_finished_rd7_arq {height:29px;left:604px;position:absolute;top:139px;width:33px;z-index:21;}
/* Completed */
#arrow3_arq {height:40px;left:671px;position:absolute;top:84px;width:26px;z-index:32;}
#completed_ball_big_arq {height:115px;left:694px;position:absolute;top:58px;width:111px;z-index:33;}
#finished_arq {height:21px;left:705px;position:absolute;top:101px;width:51px;z-index:34;}
#ic_finished_completed_arq {height:32px;left:758px;position:absolute;top:139px;width:49px;z-index:35;}
/* Header question rounds */
#header_test_arq {height:26px;left:330px;position:absolute;top:66px;width:98px;z-index:36;}
/* Header Test */
#header_qp_arq {height:26px;left:572px;position:absolute;top:64px;width:98px;z-index:36;}
/*********************************** Status Application in Table ***********************************/
.statusTextsmall {color:#484848;font-family:Arial, Helvetica, sans-serif;font-size:10px;font-weight:700;padding-left:5px;padding-top:5px;text-align:left;vertical-align:top;white-space:nowrap;}
#tbl_status_app {height:25px;position:relative;width:156px;z-index:1;}
#tbl_status_app_text {height:20px;left:0;position:absolute;top:0;width:143px;z-index:2223;}
/*********************************** Status Component in Table ***********************************/
#tbl_status_comp {height:25px;position:relative;width:160px;z-index:1;}
#tbl_status_comp_text {height:20px;left:0;position:absolute;top:0;width:147px;z-index:3;}

/*********************************** Status in Access Shop - Create Request Wizards ***********************************/
.status_processChecked {background-image:url(../images/status/as/process_checked.gif);background-position:0 0;background-repeat:no-repeat;border:0;cursor:none;font-size:10px;font-weight:700;height:46px;margin:0;padding:0;text-align:left;text-decoration:none;vertical-align:middle;width:130px;}
.status_processUnchecked {background-image:url(../images/status/as/process_unchecked.gif);background-position:0 0;background-repeat:no-repeat;border:0;cursor:none;font-size:10px;font-weight:700;height:46px;margin:0;padding:0;text-align:left;text-decoration:none;vertical-align:middle;width:130px;}
.status_orangeBgLong {background-image:url(../images/status/as/process_bg_orange.gif);background-position:0 0;background-repeat:no-repeat;border:0;cursor:none;font-size:10px;font-weight:700;height:46px;margin:0;padding:0;text-align:left;text-decoration:none;vertical-align:middle;width:340px;z-index:-999;}
.status_orangeBgShort {background-image:url(../images/status/as/process_bg_orange_sm.gif);background-position:0 0;background-repeat:no-repeat;border:0;cursor:none;font-size:10px;font-weight:700;height:46px;margin:0;padding:0;text-align:left;text-decoration:none;vertical-align:middle;width:229px;z-index:-999;}
.status_processBlankGrey {background-image:url(../images/status/as/process_blank_grey.gif);background-position:0 0;background-repeat:no-repeat;border:0;cursor:none;font-size:10px;font-weight:700;height:46px;margin:0;padding:0;text-align:left;text-decoration:none;vertical-align:middle;width:130px;}
.status_processBlankBlue {background-image:url(../images/status/as/process_blank_blue.gif);background-position:0 0;background-repeat:no-repeat;border:0;cursor:none;font-size:10px;font-weight:700;height:46px;margin:0;padding:0;text-align:left;text-decoration:none;vertical-align:middle;width:130px;}

/*********************************** Status in Deputy  ***********************************/
.status_processBlankGreyDep {background-image:url(../images/status/deputy/process_blank_grey.gif);background-position:0 0;background-repeat:no-repeat;border:0;cursor:none;font-size:10px;font-weight:700;height:46px;margin:0;padding:0;text-align:left;text-decoration:none;vertical-align:middle;width:130px;}
.status_processBlankBlueDep {background-image:url(../images/status/deputy/process_blank_blue.gif);background-position:0 0;background-repeat:no-repeat;border:0;cursor:none;font-size:10px;font-weight:700;height:46px;margin:0;padding:0;text-align:left;text-decoration:none;vertical-align:middle;width:130px;}
.status_processCheckedDep {background-image:url(../images/status/deputy/process_checked.gif);background-position:0 0;background-repeat:no-repeat;border:0;cursor:none;font-size:10px;font-weight:700;height:46px;margin:0;padding:0;text-align:left;text-decoration:none;vertical-align:middle;width:130px;}
.status_processUncheckedDep {background-image:url(../images/status/deputy/process_unchecked.gif);background-position:0 0;background-repeat:no-repeat;border:0;cursor:none;font-size:10px;font-weight:700;height:46px;margin:0;padding:0;text-align:left;text-decoration:none;vertical-align:middle;width:130px;}

/*********************************** Status Master (Outer) Panel  ***********************************/
.statusMasterPanel {width:100%; height:50px; vertical-align:top; padding:5px;}
/*********************************** Status Content (Inner) Panel  ***********************************/
.statusContentPanel {width:100%; height:45px; vertical-align:top; }
/*********************************** status diagram ***********************************/
.taskStatusTable {display:inline;font:8pt Arial;text-align:center;}
.taskStatusTable-active {border:1px solid #aaa;display:inline;font:8pt Arial;text-align:center;}
.taskName {background:#ddd;color:#000;}
.taskStatusDone {background:center no-repeat url(..\images\status\icon_completed_16.gif);height:16px;}
.taskStatusActive {background:center no-repeat url(..\images\status\icon_pending_sm.gif);height:16px;}
.taskStatusInactive {background:center no-repeat url(..\images\status\icon_inactive_16.gif);height:16px;}
.taskStatusNotRelevant {background:center no-repeat url(..\images\status\as\icon_notRelevant.gif);height:16px;}