/* ===================================================================================== 
Stylesheet: wizard.css for AURA Clients 
© Credit Suisse 
Date: 08.02.2010
Version 0.1 
created by: F322021
===================================================================================== */
/*********************************** Wizards Main Site Migration Client ***************************/
.p_leftSideWizard {border-bottom:solid #003868 1px;border-left:solid #003868 1px;border-right:solid #003868 1px;border-top:solid 5px #BA741B;height:580px;margin:0;padding:0;width:200px;}
.leftSideWizardColumn {height:100%;margin:0;padding:0;width:200px;}
.l_leftSideWizard {background-image:url(../images/tab/tabContentBg.gif);background-position:bottom;background-repeat:repeat-x;color:#255B89;font-family:Arial, Helvetica, sans-serif;font-size:11px;font-weight:600;padding-left:12px;}
.l_application {color:#5F5F5F;font-size:11px;padding:3px 5px 3px 8px;width:100%;}
.wizardLabelApp {color:#255B89;font-size:11px;font-weight:700;padding:9px 5px 2px;width:100%;}
.wizardLabelMaturity {border-bottom:solid #CCC 1px;color:#2E2E2E;font-size:11px;padding:12px 0 7px 5px;width:100%;}
/*********************************** Wizard Background in Migration Client/Access Shop  ***************************/
.wizardBg {background-color:#fff; border-bottom:solid #567598 1px;border-left:solid #567598 1px;border-right:solid #567598 1px;border-top:solid #567598 1px;height:550px;padding:10px;vertical-align:top;width:100%;}
.panelBg {background-image:url(../images/bgs/wizardContentBg.gif);background-position:bottom;background-repeat:repeat-x;border-bottom:solid #567598 1px;border-left:solid #567598 1px;border-right:solid #567598 1px;border-top:solid #567598 1px;height:260px;padding:5px;width:100%;}
/*********************************** Wizard left bottom image - edited by - Migration Client ****************************/
#icon {height:142px;left:0;position:relative;top:75px;width:200px;z-index:2;}
#editedBy {color:#3A3A3A;font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:700;height:27px;padding:0 0 0 6px;position:relative;top:-45px;width:200px;z-index:3;}
#editedByName {color:#fff;font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:700;height:41px;left:0;padding:19px 0 0;position:relative;text-align:center;top:0;width:200px;z-index:4;}